$primary: #FFFFFF
$secondary: #222222
$secondary_light: #222
$tertiary: #181818
$body-bg: #111111
$body-color: #FFFFFF
$text-muted: #ababab
$light: darken(white, 90%)
$badge-padding-x: 1em
$border-color: darken(white, 80%)
$border-radius: 2rem
$btn-padding-x: 1.5rem
$headings-color: $body-color
$blockquote-footer-color: $text-muted

// Site
$header-height: 83px
$header-background-color: transparent
$header-color: white
$menu-background-color: black
$home-hero-min-height-mobile: 500px
$home-hero-min-height: 40rem
$home-hero-h1-font-size: 4rem
$footer-background-color: transparent
$footer-color: white
$gauge-color: #495057
$global-spacing: 5rem

$gray-100: $tertiary
$gray-200: $secondary